/*================

       SEC2

=================*/
.restricoes  {
   background-color: #5D3D73;
   position: relative;
   top: -20vw;
   padding: 5vw 0 5vw 0;
}

.restricoes  h4 {
   color: rgb(227, 232, 236);
   margin: 2vw 0 3vw 0;
   text-align: center;
}

.restricoes  h3 {
   color: rgb(227, 232, 236);
   text-align: center;
   margin: 0 0 5vw 0;
}

.restricoes  p {
   color: rgb(227, 232, 236);
   text-align: center;
}

.restricoes  ul {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
}

.restricoes ul li ul {
   background-color: #f8cc9a;
   height: 24vw;
   width: 20vw;
   padding: 2vw 1.5vw 2vw 1.5;
   display: flex;
   border-radius: 15px;
   margin: 1vw 0 0vw 1vw;
}

.restricoes  ul li ul h3 {
   font-size: 1.2rem;
   color: #000;
   text-align: center;
   margin: 2vw;
}

.restricoes ul li ul p {
   font-size: 0.9rem;
   color: #000;
   text-align: center;

}


/*================

       SEC3

=================*/


.conteudo {
   background-color: #5D3D73;
   display: flex;
   flex-direction: column;
   margin: -20vw 0 0 0;
   padding: 3vw 0 6vw 0;
}

.conteudo img {
   width: 16vw;
   height: 12vw;
   border-radius: 20px;
}

.conteudo div {
   display: flex;
   justify-content: center;
}

.conteudo ul.recon {
   display: flex;
   text-align: start;
   flex-direction: column;
   margin: 5vw 0 7vw 24vw;
   list-style: disc;
}

.conteudo h2 {
   display: flex;
   text-align: start;
   flex-direction: column;
   font-size: 4vw;
   color: rgb(211, 201, 201);
}

.conteudo ul.recon p {
   display: flex;
   text-align: start;
   flex-direction: column;
   font-size: 1vw;
   color: rgb(211, 201, 201);
}


.conteudo ul.bene {
   display: flex;
   flex-direction: column;
   align-items: center;

}

.conteudo ul.bene li {
   display: flex;
   margin: 0.5vw 3vw 1.5vw 3vw;
   align-items: center;
}

.conteudo ul.bene h3 {
   font-size: 3vw;
   color: rgb(211, 201, 201);
}

.conteudo ul.bene h4 {
   font-size: 2vw;
   color: rgb(211, 201, 201);
}

.conteudo ul.bene p {
   font-size: 1.3rem;
   margin: 1vw 2vw 2vw 2vw;
   color: rgb(211, 201, 201);
}

.esp {
   text-align: end;
}